<!-- begin::main content -->
<main class="main-content">

    <div class="container-fluid">

        <!-- begin::page header -->
        <div class="page-header d-md-flex justify-content-between align-items-center">
            <h4>Basic Tables</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-t-0">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Basic Tables</li>
                </ol>
            </nav>
        </div>
        <!-- end::page header -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">角色列表</h5>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">角色名</th>
                                    <th scope="col">状态</th>
									<th scope="col">创建时间</th>
                                    <th scope="col">操作</th>
                                </tr>
                                </thead>
                                <tbody>
								#foreach($role in $roleList)
                                <tr>
                                    <th scope="row">$!{role.id}</th>
                                    <td>$!{role.roleName}</td>
                                    <td>$!{role.enable}</td>
									<td>$!{date.format('yyyy-MM-dd HH:mm:ss',$!{role.createDate})}</td>
                                    <td>
										<div class="dropdown">
                                            <a class="btn btn-outline-primary btn-sm" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="dropdown-item" type="button" onclick="edit($!{role.id})">编辑</button>
                                                <button class="dropdown-item" type="button" onclick="permission($!{role.id})">分配权限</button>
                                            </div>
                                        </div>
									</td>
                                </tr>
								#end
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
	function edit(roleId){
		window.location.href="#springUrl('/op/role/edit')?roleId="+roleId;
	}
	function permission(roleId){
		window.location.href="#springUrl('/op/role/resources')?roleId="+roleId;
	}
</script>
<!-- end::main content -->