#########
##角色资源##
#########
<link rel="stylesheet" href="resources/css/yntree.min.css">

<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
	body{
		font-size: 14px;
		line-height: 1.42857143;
	}
	ul{
		list-style: none;
	}

	.container{
		width: 50%;
		margin: 0 auto;
		padding-top: 50px;
	}
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.clearfix:before,
	.clearfix:after{
		display: table;
		content: " ";
		clear: both;
	}
	.tree{
		margin-left: 20px;
	}
</style>
<main class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">角色权限分配</h5>
				<form action="#springUrl('op/role/resource')" method="post">
                <div class="table-responsive">
                    <div id="tree" class=" fl tree">
						<ul class="yn-tree" id="yn_tree1"></ul>
					</div>
                </div>
				</form>
            </div>
        </div>

    </div>
</main>
<script type="text/javascript" src="resources/js/yntree.js"></script>
<script type="text/javascript">
	var treeData = {
		// 复选框change事件
		onchange: function (input, yntree){
			console.log(this);
		},
		// 是否严格的遵循父子互相关联的做法
		checkStrictly: true,
		data:[#showResource($resourceList)]
	};
	var yntree = new YnTree(document.getElementById("tree"), treeData);
	//var yntree = new YnTree(document.getElementById("tree"), {data: []});
	console.log(treeData);
	//new YnTree(document.getElementById("tree2"), treeData);
	//yntree.data[0].children[1].children[2].select(true);
	//yntree.data[0].children[1].select(true);
	//yntree.data[0].select(true);
	//yntree.data[0].children[1].children[2].selectUp(true);
	//console.log(yntree.data[0].children[0].children[1].disable(true));
	
	yntree.data[0].spread(true);
	yntree.data[0].children[1].spread(true);
	yntree.data[0].children[1].children[2].spread(true);
	
	alert(yntree.getValues());
	
	
</script>