<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pentagon.biz.dao.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.pentagon.biz.dao.model.Resource">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="base_menu_id" jdbcType="BIGINT" property="baseMenuId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_menu" jdbcType="INTEGER" property="isMenu" />
    <result column="menu_order" jdbcType="INTEGER" property="menuOrder" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, base_menu_id, name, is_menu, menu_order, uri
  </sql>
  <select id="selectByExample" parameterType="com.pentagon.biz.dao.model.ResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="offset != null and offset &gt; -1">
      limit ${offset},${rows}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pentagon.biz.dao.model.ResourceExample">
    delete from resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pentagon.biz.dao.model.Resource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into resource (base_menu_id, name, is_menu, 
      menu_order, uri)
    values (#{baseMenuId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{isMenu,jdbcType=INTEGER}, 
      #{menuOrder,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pentagon.biz.dao.model.Resource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="baseMenuId != null">
        base_menu_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="isMenu != null">
        is_menu,
      </if>
      <if test="menuOrder != null">
        menu_order,
      </if>
      <if test="uri != null">
        uri,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="baseMenuId != null">
        #{baseMenuId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isMenu != null">
        #{isMenu,jdbcType=INTEGER},
      </if>
      <if test="menuOrder != null">
        #{menuOrder,jdbcType=INTEGER},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pentagon.biz.dao.model.ResourceExample" resultType="java.lang.Integer">
    select count(*) from resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update resource
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.baseMenuId != null">
        base_menu_id = #{record.baseMenuId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.isMenu != null">
        is_menu = #{record.isMenu,jdbcType=INTEGER},
      </if>
      <if test="record.menuOrder != null">
        menu_order = #{record.menuOrder,jdbcType=INTEGER},
      </if>
      <if test="record.uri != null">
        uri = #{record.uri,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update resource
    set id = #{record.id,jdbcType=BIGINT},
      base_menu_id = #{record.baseMenuId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      is_menu = #{record.isMenu,jdbcType=INTEGER},
      menu_order = #{record.menuOrder,jdbcType=INTEGER},
      uri = #{record.uri,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pentagon.biz.dao.model.Resource">
    update resource
    <set>
      <if test="baseMenuId != null">
        base_menu_id = #{baseMenuId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isMenu != null">
        is_menu = #{isMenu,jdbcType=INTEGER},
      </if>
      <if test="menuOrder != null">
        menu_order = #{menuOrder,jdbcType=INTEGER},
      </if>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pentagon.biz.dao.model.Resource">
    update resource
    set base_menu_id = #{baseMenuId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      is_menu = #{isMenu,jdbcType=INTEGER},
      menu_order = #{menuOrder,jdbcType=INTEGER},
      uri = #{uri,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByRole" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
    r.*
    from 
    	role_resource rr 
    left join 
    	resource r on rr.role_id = r.id
    where rr.role_id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
    #{item}
    </foreach>
  </select>
  <select id="selectByUser" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    	r.*
    from
    	user_role ur 
    inner join
    	resouce r on ur.role_id = r.id
    where
    	ur.user_id = #{userId}
  </select>
</mapper>