<!-- Aside (Left Column) -->
<div id="aside" class="box">
  <div>
    <!-- Logo (Max. width = 200px) -->
    <p id="logo"><a href="homepage" title="回到首页"><img src="resources/image/logo.gif" alt="" /></a></p>
  </div>
  <!-- /padding -->
  <ul class="box">

	<li id="submenu-active" class="menuli menu_item">
		<a href="javascript:void(0)">这里是左侧菜单</a>
        <ul>
			#foreach($menu in $menuList)
				<li>${velocityCount}.<a href="">$!{menu}</a></li>
			#end
        </ul>
    </li>

	<li id="submenu-active" class="menuli">
		<a href="changepwd">修改用户密码</a>
    </li>
  </ul>
</div>
<!-- /aside -->