#macro(showEnable $enable)
	#if($enable == 'Y')
		<font color="green">启用</font>
	#else
		<font color="red">禁用</font>
	#end
#end

#macro(resources $url)#springUrl("/resources/$url")#end
	
#macro( select $selectValue $dataList )
	<select class="form-control form-control-lg">
        #foreach( $data in $dataList )
            <option #if($selected == $data)selected #end >$data</option>
    	#end
	</select>
#end

#macro(showResource $dataList)
    #foreach( $data in $dataList )
		#if($velocityCount > 1),#end
		{name: "$!{data.name}",inputName: "res",value: $!{data.id},checked: false,#if(${data.treeList})children:[#showResource(${data.treeList})],#end disabled: false}
    #end
#end